name: Generate Changelog

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  release-notes:
    name: Create GitHub Release Notes
    runs-on: ubuntu-latest
    steps:
      - name: Create or update release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
